$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?9870fd9f1f1cc201ce2afbbccb609a81") format("truetype"),
url("./flaticon.woff?9870fd9f1f1cc201ce2afbbccb609a81") format("woff"),
url("./flaticon.woff2?9870fd9f1f1cc201ce2afbbccb609a81") format("woff2"),
url("./flaticon.eot?9870fd9f1f1cc201ce2afbbccb609a81#iefix") format("embedded-opentype"),
url("./flaticon.svg?9870fd9f1f1cc201ce2afbbccb609a81#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "facebook-circular-logo": "\f101",
    "facebook": "\f102",
    "instagram-1": "\f103",
    "instagram": "\f104",
    "linkedin-1": "\f105",
    "linkedin": "\f106",
    "twitter-1": "\f107",
    "twitter": "\f108",
);

.flaticon-facebook-circular-logo:before {
    content: map-get($flaticon-map, "facebook-circular-logo");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-instagram-1:before {
    content: map-get($flaticon-map, "instagram-1");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-linkedin-1:before {
    content: map-get($flaticon-map, "linkedin-1");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon-map, "twitter-1");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
