//1 Variables
//2 Colors protrotype
//3 Backgrounds protrotype

//1-----
$degrades: 5, 25, 50, 75;
$primary-color: red;
$secundary-color: rgb(0, 255, 234);
$tools-color: green;


//2-----
.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secundary-color;
}

.tools-color {
    color: $tools-color;
}

@each $degrade in $degrades {
  .grey-color#{$degrade} {
    color: hsb(53, 0, 100 - $degrade) ;
  }
}

//3-----
.primary-bg {
    color: $primary-color;
}

.secondary-bg {
    color: $secundary-color;
}

.tools-bg {
    color: $tools-color;
}

@each $degrade in $degrades {
    .grey-bg#{$degrade} {
      color: hsb(53, 0, 100 - $degrade) ;
    }
  }

