//1 Variables
//2 Mixin
// How it use: first you have to rename varibale, the variable name should be the same as the @font-face archive
// and then, you can use the mixin in your styles:  @include font-face($primary-font, fonts/$primary-font, bold, italic) 
//1-----
$primary-font: PtSans;
$secondary-font: Poppies;
$tools-font: Roboto;

//2-----
@mixin font-face($name, $path, $weight: null, $style: null, $exts: ttf) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote("../" + $path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		font-display: swap;
		src: $src;
	}
}
